@CHARSET "UTF-8";
*{
	padding:0px;
	margin:0px;
}
body{
	width:1024px;
	margin:auto;
}
#header{
	background: #FB445A none repeat scroll 0 0;
    border-bottom: 1px solid #FB445A;
    border-top: 1px solid #FB445A;
    box-shadow: 0 1px #FB445A, 0 2px 1px rgba(0, 0, 0, 0.4);
    color: #c5c5c5;
    height: 36px;
    left: 0;
    margin: auto 0;
    min-width: 320px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#headerContent {
    margin: 0 auto;
    position: relative;
    width: 995px;
}
ul#menuBar {
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
}
#menuBar li {
    display: inline-block;
}
#menuBar a, #menuBar li span {
    color: #fff;
    cursor: pointer;
    padding: 12px 8px;
    transition: color 0.2s linear 0s;
}
.selected > a {
    color: #000000 !important;
}
.selected {
    border-bottom: 3px solid #000000;
}
li {
    list-style: outside none none;
    margin: 0;
}
#menuBar a:hover, #menuBar span:hover, #menuBar .selected a:hover {
    color: #000000;
    text-shadow: 0 1px #000;
}

#content {
    margin: 60px 0 0;
}
#mainContainer {
    margin: 0 auto;
    min-width: 320px;
    width: 995px;
}
#leftColumn {
    float: left;
    width: 685px;
}
#rightColumn {
    float: right;
    width: 300px;
}
div.box {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px #aaa;
    margin: 0 0 10px;
    padding: 10px 10px 5px;
}
#footer {
    line-height: 1.5em;
    margin: 20px 0;
    text-align: center;
    text-shadow: 0 1px #eee;
}
.photoListItem {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px 0 20px;
}
.photoList .thumbnail {
    float: left;
    overflow: hidden;
    text-align: center;
    width: 400px;
}
photoList .thumbnail img.videoIndicator {
    margin-top: -62px;
    position: relative;
    top: -130px;
}
img {
    border: medium none;
}
.photoList .thumbnail img {
    margin: 0 auto -25px;
    max-width: 400px;
}
.photoList .thumbnail {
    float: left;
    overflow: hidden;
    text-align: center;
    width: 400px;
}
.clear {
    clear: both;
    height: 0;
}
.photoList .thumbnail img.videoIndicator {
    margin-top: -62px;
    position: relative;
    top: -130px;
}
.listItemSeparator {
    height: 1px;
}
.nextListPage {
    color: white;
    float: left;
    margin-bottom: 10px;
    width: 635px;
}
.buttons {
    background-color: #26772f;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px white;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    min-width: 45px;
    padding: 0 10px;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s linear 0s;
}
.photoList .info {
    margin-left: 410px;
    width: 240px;
    z-index: 1;
}
element.style {
    position: fixed;
    top: 60px;
}
.photoList h2 {
    line-height: 1.2em;
    margin: 0 0 10px;
}
a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s linear 0s;
}
* {
    outline: medium none;
    transition: all 0.3s ease 0s;
}